$white: #fff;
$blue: #0040a8;
$grey: #aaa;
$light-blue: #002488;
$yellow: #fab005;
$orange: #f69b31;
$grey: #8a8d94;
$light-grey-01: #c6c8cc;
$light-grey-02: #e1e2e6;
$bg-grey-01: #eef0f2;
$bege: #f9f7f4;
$blue-font: #002c76;

.white-text {
  color: $white;
}

.grey-text {
  color: $grey;
}

.blue {
  background-color: $blue;
}

.white {
	background-color: $white;
} 