$primary: $blue;
$secondary: $yellow;
$error: #ed2552;
$success: #14da9e;
$warning: #f69b31;
$background-color: $bege;

$side-margin: 14.2857%;
$base-size: 40px;
$btn-radius: 1.5 * $base-size;
$defaultBorderRadius: 1.5em;
$default-side-margin: 2em;
