<progress-bar active = "3"></progress-bar>


<main class="ui form"> <last-request
	lista="{{occupationQuestion}}"></last-request> 
	  <angucomplete param="mainActivity"
                pause="400"
                selectedobject="value"
                label="¿Cuál es tu actividad principal?"
                next-url="/monthlyIncome"
                url="/components/occupation/ciiu.json?s="
                titlefield="description"
                show-suggest="true"
                actividades="true"
                inputclass="active"/>
	 </main>

