<progress-bar active = "4"></progress-bar>

<main class="ui form">
  <last-request-new title="Ingresos provenientes de los Estados Unidos" icon="images/home@2x.png" message="{{savedValues.usaIncome ? 'Si' : 'No'}}"></last-request-new>

  <boolean-input next-url="/confirm" param="usaIncome"
                 label="¿Has recibo ingresos de cualquier propiedad que se encuentre en los Estados Unidos?"
                 ps-note="Esta pregunta no tiene ningún impacto en la apertura de tu cuenta." />
</main>
