
<div class="blue white-text full-page">
  <div class="ui page grid welcome-padding">

      <div class="big-top-space">

        <img class="welcome-logo" src="images/logo-banco-de-bogota.png" alt="logo del banco de bogota" />

        <img class="welcome-wallet" src="images/wallet.png" />

        <h1 class="bold-text font-title-bold">Crea tu cuenta de Ahorro en 5 minutos</h1>
        <h2 class="font-subtitle welcome-subtitle">Obtén también la tarjeta de débito</h2>

        <a id="startCreatingAccountBtn" class="btn btn-inverse-secondary" href="/#/account">Crear mi cuenta</a>
    </div>
  </div>
</div>
